body {
  font-family: "Nunito";
  color: #333333;
  background-color: #f7f7f7;
}
.App {
  display: flex;
  flex-direction: column;
}
@media (min-width: 500px) {
  .App {
    flex-direction: row;
  }
}
nav {
  flex: 1 ;
  order: 1;
  margin: 10px;
}
nav .selectCon h5 {
  display: inline-block;
}
nav .selectCon select {
  border-radius: 3px;
  margin: 0 2%;
  font-size: 50%;
}
nav .routes {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin: 10px auto;
  box-shadow: #ddd 1px 3px 1px;
  border-radius: 3px;
  background-color: white;
  padding: 12px;
}
nav .routes .link {
  color: #333333;
  justify-content: center;
  padding: 5px 2px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
nav .routes .link:active {
  text-decoration: underline;
  color: black;
}
nav .tips {
  margin: 10%;
  font-style: italic;
}
.info {
  margin: 10px;
  flex: 2 ;
  order: 3;
  height: 90vh;
}
@media (max-width: 500px) {
  .info {
    order: 2;
  }
}
.info .margin {
  display: flex;
  margin: auto;
}
.info form {
  display: flex;
  margin: 10px 0;
  width: 40%;
}
.info form input {
  flex: 1;
  margin: 2px;
  max-width: 80px;
}
.info form button {
  flex: 1;
  border: 2px #333333 solid;
  border-radius: 4px ;
  color: #333333;
  margin: 2px;
}
.check,
.products {
  flex: 3 ;
}
.check {
  margin: 10px;
  order: 2;
}
@media (max-width: 500px) {
  .check {
    order: 1;
  }
}
.check .checkContent form {
  display: flex;
  justify-content: end;
}
.check .checkContent form * {
  margin: 0 10px;
}
.check .checkContent form button {
  border: 2px #333333 solid;
  border-radius: 4px ;
  color: #333333;
}
.check .checkContent ul .head {
  padding-bottom: 5px;
  color: #a3a3a3;
}
.check .checkContent ul .subsum {
  font-family: Ubuntu;
}
.check .checkContent ul li {
  padding: 5px 0;
  max-width: 440px;
  display: flex;
  border-bottom: 1px solid #a3a3a3;
}
.check .checkContent ul li span {
  flex: 4;
}
.check .checkContent ul li button {
  flex: 1;
  border: 2px #333333 solid;
  border-radius: 4px ;
  color: #333333;
  margin: 0 10px;
}
.products {
  margin: 10px;
  order: 2;
  overflow-y: auto;
  height: 100vh;
}
@media (max-width: 500px) {
  .products {
    order: 3;
  }
}
.products ul {
  padding: 0;
  margin: 0;
}
.products ul li {
  display: inline-block;
  list-style-type: none;
  border: 2px #333333 solid;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 2px  4px;
  box-shadow: #a3a3a3 1px 2px 1px;
}
.history,
.supply {
  margin: 10px;
  order: 2;
  flex: 3 ;
}
@media (max-width: 500px) {
  .history,
  .supply {
    order: 3;
  }
}
.history table {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  color: black;
}
.history table thead tr {
  color: #333333;
  font-weight: 600;
}
.history table tr {
  display: flex;
  border-bottom: 1px #ddd solid;
  padding: 10px;
}
.history table tr td {
  width: 30%;
  align-content: center;
  justify-content: center;
  text-align: left;
  margin: 0;
  padding: 0 10px;
}
.history table tr:hover {
  background-color: #f7f7f7;
}
.history table tr:active {
  background-color: yellow;
}
.active {
  border: none;
  background-color: #333333;
  color: #ffffff;
}
.eventbox {
  background-color: yellow;
  border-radius: 3px;
  box-shadow: #ddd 1px 3px 1px;
  display: flex;
  justify-content: center;
}
.card {
  box-shadow: #ddd 1px 3px 1px;
  border-radius: 3px;
  background-color: white;
}
