$font: "Nunito";
$numfont: "Ubuntu";

$back : #f7f7f7;
$white : #ffffff;
$primary: #333333;
$secondary: rgb(163, 163, 163);
$red: red;
$active: #a6e2dd;
body{
    font-family: $font;
    color:$primary;
    background-color: $back
}
.App{
    display: flex;
}
    nav{
        flex:1 ;
        .routes{

            display: flex;
            align-content: center;
            flex-direction: column;
            margin: 20px 20px 0 0px;
            border-top: 2px $secondary solid;
            border-bottom: 2px $secondary solid;
            .link{
                color: $primary;
                justify-content: center;
                padding: 10px 2px;

                text-decoration: none;
                
                font-size: 17px;
                
            }
            .link:active{
                text-decoration: underline;
                color: black;
            }
        }
    }
    .info{
        flex:2 ;
        .margin{
            display: flex;
            margin:  auto;
        }
        form{
            display: flex;
            margin: 10px 0;
            width:40%;
            input{
                flex:1;
                margin: 2px;
                max-width: 80px;
            }
            button{
                flex:1;
                border: 2px $primary solid ;
                border-radius: 4px ;
                color: $primary;
                margin: 2px;

            }
        }
    }

    .check, .products{
        flex:3 ;
    }

    .check{
      
        .checkContent{
             
        
            form{
                display:flex;
                width:100%;
                justify-items: right;
                button{
                    border: 2px $primary solid ;
                    border-radius: 4px ;
                    color: $primary;
                }
            }
            ul{
                width: 85%;
                .head{
                    padding-bottom: 5px;
                    color:$secondary;
                }
                .subsum{
                    font-family: Ubuntu
                }
                li{
                   padding: 5px 0;
                    display: flex;
                    border-bottom: 1px solid $secondary;
                        span{
                            flex:4
                        }
                        
                        button{
                            flex :1;
                            border: 2px $primary solid ;
                            border-radius: 4px ;
                            color: $primary;
                            margin: 0 10px
                        }
                }
            }
        }
    }
    .products{
        overflow-y:auto;
        height: 100vh;
        ul{
            padding: 0;
            margin: 0;
            
            li{
                display: inline-block;
                list-style-type: none;
                border: 2px $primary solid;
                border-radius: 4px;
                padding: 2px 4px;
                margin: 2px  4px;
                    box-shadow: $secondary 1px 2px 2px;

            }    
         }
    }

    
    


.active{
    border: none;
    background-color: $primary;
    color:$white;
}

.eventbox{
    bottom: 20px;
    background-color: yellow;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #ddd;
    display:flex;
    justify-content: center;
    max-width: 300px;
    }

