$font: "Nunito";
$numfont: "Ubuntu";

$back : #f7f7f7;
$white : #ffffff;
$primary: #333333;
$secondary: rgb(163, 163, 163);
$red: red;
$active: #a6e2dd;
body{
    font-family: $font;
    color:$primary;
    background-color: $back
}
.App{
    display: flex;
}
    nav{
        flex:1 ;
        .routes{

            display: flex;
            align-content: center;
            flex-direction: column;
            margin: 20px auto;
            border-top: 1px $primary solid;
            border-bottom: 1px $primary solid;
            .link{
                color: $primary;
                justify-content: center;
                padding: 10px 2px;

                text-decoration: none;
                
                font-size: 17px;
                
            }
            .link:active{
                text-decoration: underline;
                color: black;
            }
        }
    }
    .info{
        flex:2 ;
        .margin{
            display: flex;
            margin:  auto;
        }
        form{
            display: flex;
            margin: 10px 0;
            width:70%;
            input{
                flex:3;
                margin: 2px;

            }
            button{
                flex:1;
                border: 2px $primary solid ;
                border-radius: 4px ;
                color: $primary;
                margin: 2px;

            }
        }
    }

    .check, .products{
        flex:3 ;
    }

    .check{
        .checkContent{
            ul{
                li{
                    width: 100%;
                    display: flex;
                    border-bottom: 1px solid $secondary;
                        span{
                            flex:1
                        }
                        .subsum{
                            font-family: 'Ubuntu'
                        }
                }
            }
        }
    }
    .products{

        ul{
            padding: 0;
            margin: 0;
            
            li{
                display: inline-block;
                list-style-type: none;
                border: 2px $primary solid;
                border-radius: 4px;
                padding: 2px 4px;
                margin: 2px  4px;
                    box-shadow: $secondary 1px 2px 2px;

            }    
         }
    }

    
    


.active{
    border: none;
    background-color: $primary;
    color:$white;
}

.eventbox{
    position: absolute;
    bottom: 20px;
    background-color: yellow;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #ddd;
    display:flex;
    justify-content: center;
    min-width: 300px;
    }

