@font: "Nunito";
@numfont: "Ubuntu";

@back : #f7f7f7;
@white : #ffffff;
@primary: #333333;
@secondary: rgb(163, 163, 163);
@shadow: rgb(202, 202, 202);

@red: red;
@active: #a6e2dd;
body{
    font-family: @font;
    color:@primary;
    background-color: @back
}
.App{
    display: flex;
    flex-direction: column;
   
    @media (min-width:500px) {
    flex-direction: row;
    
      }
}
    nav{
        flex:1 ;
        order:1;
        margin: 10px;
        .selectCon{
            h5{
                display: inline-block
            }
            select{
                border-radius: 3px;
                margin: 0 2%;
                font-size: 50%
            }
        }
       
        .routes{
          
            display: flex;
            align-content: center;
            flex-direction: column;
            margin: 10px auto;
            box-shadow: #ddd 1px 3px 1px ;
            border-radius: 3px;
            background-color: white;
                    padding: 12px;
            .link{
                color: @primary;
                justify-content: center;
                padding: 5px 2px;
                font-size:15px;
                display:flex;
                flex-direction:column;
                text-decoration: none;
                
            }
            .link:active{
                text-decoration: underline;
                color: black;
            }
        }
        .tips{
            margin:10%;
            font-style: italic;
        }
    }
    .info{
        margin: 10px;
        flex:2 ;
        order:3;
        height: 90vh;
        @media (max-width:500px) {
                order:2;
              }
        .margin{
            display: flex;
            margin:  auto;
        }
        form{
            display: flex;
            margin: 10px 0;
            width:40%;
            input{
                flex:1;
                margin: 2px;
                max-width: 80px;
            }
            button{
                flex:1;
                border: 2px @primary solid ;
                border-radius: 4px ;
                color: @primary;
                margin: 2px;

            }
        }
    }

    .check, .products{
        flex:3 ;
    }

    .check{
        margin: 10px;

        order:2;
        @media (max-width:500px) {
            order:1;
          }
      
        .checkContent{
            
            form{
                display: flex;
                justify-content: end;
                *{
                    margin: 0  10px
                }
                button{
                    border: 2px @primary solid ;
                    border-radius: 4px ;
                    color: @primary;
                }
            }
            ul{
                .head{
                    padding-bottom: 5px;
                    color:@secondary;
                }
                .subsum{
                    font-family: Ubuntu
                }
                li{
                   padding: 5px 0;
                    max-width: 440px;
                    display: flex;
                    border-bottom: 1px solid @secondary;
                        span{
                            flex:4
                        }
                        
                        button{
                            flex :1;
                            border: 2px @primary solid ;
                            border-radius: 4px ;
                            color: @primary;
                            margin: 0 10px
                        }
                }
            }
        }
    }
    .products{
        margin: 10px;

        order:2;
        @media (max-width:500px) {
            order:3;
          }
        overflow-y:auto;
        height: 100vh;
        ul{
            padding: 0;
            margin: 0;
            
            li{
                display: inline-block;
                list-style-type: none;
                border: 2px @primary solid;
                border-radius: 4px;
                padding: 2px 4px;
                margin: 2px  4px;
                    box-shadow: @secondary 1px 2px 1px;

            }    
         }
    }

    .history,.supply{
        margin: 10px;

        order:2;
        flex:3 ;

        @media (max-width:500px) {
            order:3;
          }
    }
    
    .history{
      table{
         width:100%;
         border-radius: 4px;
         background-color: white;
         color: black;
         thead{
             tr{
                 color: #333333;
                 font-weight: 600;
             }
         }
          tr{
              display:flex;
              border-bottom: 1px #ddd solid;
              padding: 10px;
              td{
                  width: 30%;
                  align-content: center;
                  justify-content: center;
                  text-align: left;
                  margin: 0;
                  padding:0 10px;
              }
          }
          tr:hover{
                background-color: @back
              }
          tr:active{
              background-color: yellow
          }

          }
      
    }

.active{
    border: none;
    background-color: @primary;
    color:@white;
}

.eventbox{

    background-color: yellow;
    border-radius: 3px;
        box-shadow: #ddd 1px 3px 1px ;
    display:flex;
    justify-content: center;
    }


    .card{
        box-shadow: #ddd 1px 3px 1px ;
        border-radius: 3px;
        background-color: white;
    }